.nav-bar {
  
    /* text-decoration: none; */
    /* height: 50px; */
    width: 100%;
    background: #222;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    /* padding: 0 12px; */
}

.nav-list {
  color: white;
  text-decoration: none
}
.barber-container{
  /* display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; */
  width: 28%;
  border: 5px solid transparent;
  /* padding: 15px; */
  border-image: url(https://ak5.picdn.net/shutterstock/videos/21343525/thumb/7.jpg) 50 round;
}
.single-barber-container {
  display: flex;
  justify-content: center;
  margin-left: 25%;
}

.review-submit {
  text-align: center;
 
}

.container-container {
  display:flex;
  justify-content:space-around;
}

.comment-container {
  width: 55%;
  padding-bottom: 40vh;
  border: 2px solid black;
}
.comment-container h1 {
  padding-left: 35%;
}
.comment-container p {
  padding: 3%;
}
.img-container img {
  width: 111px;
}

.img-container{
  display: block;
  justify-content: center;
  padding-left: 35%;
}

.review-container {
  border: 2px solid black;
  width: 20%;
  padding-left: 1%;
}

.review-btn {
  padding-left: 35%;
}

.barber-img {
  max-width: 35%;
  height: auto;
  padding-left: 30%;
}

.barber-input {
  padding-left: 20%
}

.h1 Link {
  color: black;
}
.barber-container h2 {
  text-shadow: 2px 2px black;
    color: red;
    padding-left: 30%
}

.barber-container h1 {
 padding-left: 15%;
 
}
.barber-input {
  padding-bottom: 2%;
}
.barber-container a {
  text-shadow: 2px 2px black;
    color: darkblue;
}

.baber-info h1 {
  /* margin-left: 55%; */
  text-shadow: 2px 2px black;
    color: darkblue;
}
.barber-review {
  border: 6px solid transparent;
    height: 50vh;
    margin-top: 10%;
    margin-right: 13%;
    padding: 15px;
    border-image: url(https://ak5.picdn.net/shutterstock/videos/21343525/thumb/7.jpg) 50 round;
    text-shadow: 2px 2px black;
    color: darkblue;
    /* margin-left: 40%  */
}

.barber-review strong {
  color: white;
  text-shadow: 2px 2px #f50808;
}
.barber-review button {
  margin-left: 25%;
}
.barber-review h1 {
  margin-left: 14%;
  text-decoration: underline;
}
.barber-location{
  /* margin-left: 55%; */
  text-shadow: 2px 2px black;
    color: darkblue;
}

.single-barber-img{
  /* margin-left: 130%; */
    /* float:  left; */
    width:  500x;
    height: 500px;
    /* background-size: cover; */
}


.delete-barber {
  display: table;
  margin-top: 50%;
  margin-left: 20%;
}

/* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px; */