.nav-bar {
  
    /* text-decoration: none; */
    /* height: 50px; */
    width: 100%;
    background: #222;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    /* padding: 0 12px; */
}

.nav-list {
  color: white;
  text-decoration: none
}
/* .barber-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
} */
